apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-vywojiod
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-vywojiod:4e56373b5fa11c797d0530f2647c2ef687f56ee0@sha256:77fc0045843e9d07a3f112d0139c847e59868b0ca7eb518612b95508a3e75a03
          name: container-image
